/* It starts completely empty. I wish you luck. */
body {
    margin:1rem;
}

h1.game {
  width: 500px;
  height: 345px;
  background: url(../images/tetris-logo.png) no-repeat;
  text-indent: -9999px;
}

section#introduction {
    margin: 2rem;
}

div#wrapper {
    display:grid;
    grid-template-areas:
    "logo" 
    "menu" 
    "intro" 
    "playground" 
    "footer";
}

h1.game { 
    grid-area: logo; 
}
ul.menu { 
    grid-area: menu; 
}
#introduction { 
    grid-area: intro; 
}
#tetgrid { 
    grid-area: playground; 
}
footer { 
    grid-area: footer; 
}

@media screen and (min-width: 850px){
    div#wrapper {
        grid-template-areas:
    "logo       intro"
    "menu       menu"
    "playground playground"
    "footer     footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 345px auto auto auto;
    }
}

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.menu a {
    display: block;
    background: gray;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: transform 0.1s ease-in;
}

.menu li {
    width: 25%;
}

@media screen and (max-width: 550px) {
	.menu li {
		width: 100%;
	}
}

.menu a:hover {
	background: red;
	color: yellow;
    transform:scale(1.1);
}

ul.menu ul li {
    width:100%;
}
ul.menu ul {
    display:none;
}
ul.menu li:hover ul {
    display:flex;
}

.menu .submenu li>a {
    background:red;
    color:yellow;
}
.menu .submenu>a:after {
    content: "+";
    padding-left:5px;
}

#tetgrid {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
}
#o {
    grid-column: 1/3;
    grid-row: 1/span 2;
}
#i {
    grid-column: 3/-1;
    grid-row: span 1;
}

#z {
    transform-origin: 0 0;
    grid-column: 2;
    grid-row: 2;
    transform: translateX(205px) rotate(90deg);
}

#t{
    grid-column:4/span 2;
    grid-row: 4/ span 1;
    transform: translateX(5px) translateY(5px) rotate(180deg);
}

#l{
    transform-origin: 0 0;
    grid-column: 1;
    grid-row: 6;
    transform: translateY(5px) rotate(-90deg);
}

#j{
    grid-column: 4;
}

#s {
    grid-column: 2;
    grid-row: 5;
}

img {
    transition-property: transform;
    transition-timing-function:cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition-duration: 1s;
}

img:hover {
    transform: translateX(500px) translateY(250px) rotate(2160deg);
}
