html, body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{ background-color: #F7F7FF; }

nav{
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: #141B41;
    color: white;
    z-index: 10000;
    width: 100vw;
    height: 5vw;
}

.navbar ul{
    margin: 0;
    padding:0;
    display: flex;
}

.navbar li{
    list-style: none;
    padding: 1rem;   
}

ul.showOnMobile{
    display: none;
    position: fixed;
    flex-direction: column;
    top: 1vw;
    right: 0;
    align-items: flex-end;
    background-color: #141b41;
    background: rgba(8, 11, 25, .9);
    height: 150vh;
    margin-top: -1vw;
    padding-top: 1vw;
}

.showOnMobile{
    display: none;
}

.showToDropDown{
    display: none;
    font-size: 4vw;
}


div.navButton{ padding: 5px; }

a:link{ color: #1591d1;  text-decoration: none; }

a:visited{ color: #8585FF; }

a:focus{ color: #33adff; }

a:hover{
    color: #11fcbe;
    text-decoration: underline;
}

a:active{ color:#21abaf }

nav a, nav h1{ justify-self: center; }

h1 {
    font-size: 2vw;
    position: fixed;
    top: 1vw;
    left: 1vw;
    z-index: 100000000000;
    margin: 0;
    font-family: 'Gabarito', 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Gabarito', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size:3vw ;
    margin: 25px;
    color: black;
}

h2.whiteTxt{
    font-size: 3.5vw;
}

h3{
    font-family: 'Gabarito', 'Times New Roman', Times, serif;
}

h4{
    font-family: 'Gabarito', 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: -1vw;
}

p, ul {
    font-family: 'Comfortaa', 'Times New Roman', Times, serif;
    font-size:1.2vw;
}

.whiteTxt{ color: #F7F7FF; }

main {
    display: grid;
    grid-template-areas:
    "intro"
    "main" 
    "main2" 
    "footer";
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    width: 70%;
    margin: 10vw 15vw 10vw 15vw;
    overflow-y: hidden;
}

div#intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr 10fr 25fr;
    grid-template-rows: 4fr 6fr 1fr 1fr;
    height: 34.5vw;
    overflow: hidden;
}

img#introimg, div#introbox, div#introtext{ grid-row: 1/2; }

img#introimg{
    grid-column: 1/4;
    grid-row: 1/3;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
}

div#introbox{
    display: inline-block;
    grid-column: 2;
    grid-row: 2/ span1;
    background-color: #141B41;
    opacity: .8;
    border-radius: 5px;
    aspect-ratio: 1/1;
    width: 100%;
}

div#introtext{
    grid-column: 2;
    grid-row: 2/span1;
    z-index: 100;
}

div#infotext{  
    grid-column: 3;
    grid-row: 3;
}

#introimg{
    width: 100%;    
}

p#introinfo{
    height: 10vw;
    width: 20vw;
    float: right;
}

footer{
    grid-area: footer;
    margin-left: 5vw;
}

div#mainContent {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "paid   paid  paid  cash  cash    cash    air     air"
    "any    any   flexy flexy flexy   charity charity charity"
    "any    any   flexy flexy flexy   tuition tuition tuition"
    "peer   stock stock stock stock   tuition tuition tuition"
    "peer   stock stock stock stock   tuition tuition tuition"
    "peer   stock stock stock stock   well    well    well"
    "peer   match match match match   well    well    well";
    grid-template-columns: 10fr 4fr 5fr 1fr 3fr 4fr 8fr 6fr;
    grid-template-rows: 9fr 7fr 3fr 2fr 1fr 3fr 4fr;
    gap: 1vw;
    width: 70vw;
    height: 51vw;
    overflow-y: hidden;
}   

div.text{
    margin-left: 2.5vw;
}

div#paid{
    grid-area: paid;
    background-color: #f8faf9;
    display: flex;
}

div#paid img{
    width: 16vw;
}

div#cash{
    grid-area: cash;
    background-color: #1591d1;
}

div#air{
    grid-area: air;
    background-color: #f8faf9;
}

div#air img{
    float: right;
    height: 100%;
}

div#air .text{
    margin-top: 7vw;
}

div#air div.text{
   margin-left: 0;
}

div#any{
    grid-area: any;
    background-color: #d4455e;
}

div#any img{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 77%);
}

div#flexy{
    grid-area: flexy;
    background-color: #3ebcf6;
}

ul{
    list-style-type: none;
}

div#tuition{
    grid-area: tuition;
    background-color: #d4455e;
}
div#tuition img{
    float: left;
    width: 30%;
}

div#charity{
    grid-area: charity;
    background-color: #1591d1;
}

div#stock{
    grid-area: stock;
    background-color: #1591d1;
}

div#stock h4, div#match h4{
    margin-top: 0;
}
div#stock p, div#match p{
    margin-bottom: 0;
}

div#stock .text{
    margin-top: 3vw;
}


div#well{
    grid-area: well;
    background-color: #F6E0A2 ;
}

div#well img {
    float: left;
    height: 100%;
    width: auto;
}


div#match{
    grid-area: match;
    background-color: #d4455e;
}

div#peer{
    grid-area: peer;
    background-color: #f8faf9;
}

div#peer img{
    width: 100%;
    margin: auto;
}

div#peer h4{
    margin: 0;
}

section div.text p{
    font-size: 1.5vw;
}

section#main2
{
    display: grid;
    grid-area: main2;
    text-align: left;
    margin-top: 50px;
    grid-template-areas: 
    "title"
    "about"
    "generous"
    "featured";
    overflow-y:hidden;
    row-gap: 10vw;
    width: 70vw;
}
section#main2 h2{
    grid-area: title;
    text-align: center;
}

div#about{
    display: flex;
    grid-area: about;
    flex-flow: row wrap;
}

section h3{
    font-size: 2vw;
}

div#about div.text{
    width: 50%;
    margin-left: 0;
}
div#about img{
    width: 50%;
}

div#generous{
    display: flex;
    grid-area: generous;
    flex-flow:row wrap;
}

div#generous div.text{
    width: 50%;
    margin-left: 0;
}

div#generous img{
    width: 50%  ;
}

div#featured{
    display: flex;
    grid-area: featured;
    flex-flow: row wrap;
    justify-content: center;
}

div#featured h3{
    width: 100%;
    text-align: center;
}

div#featured img{
    width: 350px;
}

.textContainer{
    position: relative;
}

.priceTag{
    position: absolute;
    top: 1vw;
    left: 1vw; 
    font-size: 3vw;
}

@media screen and (max-width: 780px){
    nav{
        display: flex;
        justify-content: end;
        align-items: end;
        position: fixed;
        top: 0;
        background-color:  #141B41;
        z-index: 1000000;
        width: 100vw;
        height: 10vw;
    }

    h1{
        font-size: 5vw;
    }

    ul.showOnMobile li{
        font-size: 4vw;
    }

    .showOnWide{
        display: none;
    }

    .showToDropDown{
        display: block;
        right: 0;
    }
    .closeDropdown{
        font-size: 4vw;
    }

    main{
        display: grid;
        grid-template-areas:
        "intro"
        "main" 
        "main2" 
        "footer";
        grid-template-rows: repeat(4, auto);
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        row-gap: 10vw;
    }

    div#intro{
        margin-top:10vw;
        grid-area: intro;
        display: grid;
        grid-template-rows: 45vw 15vw 1fr;
        grid-template-columns: 1fr;
        height: 70vw;
    }

    div#intro img{
        clip-path: none;
        grid-row: 1;
        grid-column: 1;
    }

    div#introbox, div#introtext, div#infotext{
        grid-row: 1/3;
        grid-column: 1;
    }

    div#introbox{
        grid-row: 2/span1;
        grid-column: 1;
        width: 100%;
        height: auto;
        aspect-ratio: auto;
        opacity: 1;
        border-radius: 0;
    }

    div#introtext h2{
        font-size: 7vw;
    }

    div#introtext, div#infotext{
        grid-row: 2;
    }

    div#infotext{
        grid-row: 3;
    }

    div#infotext p{
        color: white;
        margin-left: 25px;
        margin-top: -5px;
        font-size: 3vw;
    }

    footer{
        grid-area: footer;
    }

    .text p{
        font-size: 5vw;
    }

    h4{
        font-size: 7vw;
    }

    div#mainContent{
        display: grid;
        grid-template-areas:
        "paid"
        "cash" 
        "air"
        "any"
        "flexy" 
        "charity"
        "well"
        "stock" 
        "tuition"
        "peer"
        "match";
        grid-template-columns: 100%;
        grid-template-rows: repeat(11, auto);
        row-gap: 3vw;
        width: inherit;
        height: auto;
        overflow: hidden;
    }

    div.text{
        margin-top: -2vw;
        margin-bottom: 5vw;
    }

    div#paid{
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    div#paid img{
        width: 100%;
    }

    div#air{
        display: flex;
        flex-direction: column;
    }
    div#air img{
        width: 100%;
    }
    div#air p, div#air h4{
        margin-left: 2.5vw;
    }

    div#peer .text{
        margin-top: 3vw;
    }

    div#any img{
        clip-path: none;
        margin-bottom: 0;
        transform: translate(0, .9vw);
    }

    div#well h4{
        margin-top: 10px;
    }

    section#main2{
        display: grid;
        grid-area: main2;
        margin-top: 50px;
        grid-template-areas: 
        "title"
        "about"
        "generous"
        "featured";
        grid-template-columns: 1fr;
        row-gap: 10vw;
        width: inherit;
        overflow: hidden;
    }
    section#main2 h2{
        grid-area: title;
        text-align: center;
        font-size: 9vw;
    }
    
    h3{
        font-size: 7vw;
        margin: auto;
    }

    div#about{
        grid-area: about;
    }

    div#about div.text{
        flex-grow: 1;
        margin-left: 5px;
    }

    div#about img{
        width: 100%;
    }
    .priceTag{
        font-size: 5vw;
    }
    div#generous{
        grid-area: generous;
    }

    div#generous div.text{
        flex-grow: 1;
        margin-left: 5px;
    }

    div#generous img{
        width: 100%;
    }

    footer p{
        font-size: 2vw;
    }

    section#main2 div.text p{
        font-size: 5vw;
    }
    section#main2 h3{
        font-size: 7vw;
    }
}