html, body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F7F7FF;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:  #141B41;
    z-index: 1000000;
    width: 100vw;
}

div.navButton{
    padding: 5px;
}

a:link{
    color: #1591d1;
    text-decoration: none;
}

a:visited{
    color: #8585FF;
}

a:focus{
    color:#33adff
}

a:hover{
    background-color: #80bfff;
    padding: 10px;
    border-radius: 5px;
    size: 100rem;
}

a:active{
    color:#00264d;
}

nav a, nav h1{
    justify-self: center;
}

h1 {
    background: url(../media/logo.svg) no-repeat;
    background-size: contain;
    height: 2vw;
    width: 2vw;
    text-indent:-9999px;
}

h2 {
    font-weight: 400;
    font-size:3vw ;
    margin: 25px;
    color: black;
}

h4{
    font-family: 'Gabarito';
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: -1vw;
    margin-top: -1vw;
    margin-left: 2.5vw;
}

p, ul {
    font-family: 'Comfortaa';
    font-size:1.2vw;
}

div.text{
    margin-top: 3vw;
}

div.text p{
    margin-left: 2.5vw;
}

.whiteTxt{
    color: #F7F7FF;
}

main {
    display: grid;
    grid-template-areas:
    "intro"
    "supportingtext"
    "main" 
    "main2" 
    "footer";
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    width: 70%;
    margin-left: 15vw;
    margin-right: 15vw;
}

div#intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr 10fr 25fr;
    grid-template-rows: 4fr 7fr 1fr;
    height: 30vw;
}

img#introimg, div#introbox, div#introtext{
    grid-row: 1/2;
}

img#introimg{
    grid-column: 1/4;
    grid-row: 1/3;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
}

div#introbox{
    display: inline block;
    grid-column: 2;
    grid-row: 2/ span1;
    background-color: #141B41;
    opacity: .8;
    border-radius: 5px;
    aspect-ratio: 1/1;
    width: 100%;
}

div#introtext{
    grid-column: 2;
    grid-row: 2/span1;
    z-index: 100;
}

div#introtext h2{
    color: #F7F7FF;
}

div#infotext{
    grid-area: supportingtext;
}

h2 {
    opacity: 1;
}

#introimg{
    width: 100%;    
}

p#introinfo{
    height: 10vw;
    width: 20vw;
    float: right;
}

a:link{
    color: #1591d1;
}

div#main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "paid   paid  paid  cash  cash    cash    air     air"
    "any    any   flexy flexy flexy   charity charity deco"
    "any    any   flexy flexy flexy   tuition tuition tuition"
    "peer   stock stock stock stock   tuition tuition tuition"
    "peer   stock stock stock stock   tuition tuition tuition"
    "peer   stock stock stock stock   well    well    well"
    "peer   match match match match   well    well    well";
    grid-template-columns: 10fr 4fr 5fr 1fr 3fr 4fr 8fr 6fr;
    grid-template-rows: 9fr 7fr 3fr 2fr 1fr 3fr 4fr;
    gap: 1vw;
    width: 70vw;
    height: 51vw;
}

div#paid{
    grid-area: paid;
    background-color: #f8faf9;
}

div#paid img{
    width: 1vw;
    float: left;
    margin: 35px;
}
div#paid div.text{
    margin-top:50px;
}

div#cash{
    grid-area: cash;
    background-color: #1591d1;
}

div#air{
    grid-area: air;
    background-color: #f8faf9;
}

div#air div.text{
    position: absolute;
    margin-top: 9%;
    margin-left: 1%;
}

div#air img{
    width: 40%;
    float: right;
}

div#any{
    grid-area: any;
    background-color: #d4455e;
    z-index: -1;
}

div#any img{
    width: 70%;
}

div#anysupport{
    grid-area: anysup;
    background-color: #d4455e;
    margin-top: -1vw;
    z-index: -2;
}
div#flexy{
    grid-area: flexy;
    background-color: #3ebcf6;
}

#flexy ul{
    list-style-type: none;
}

div#tuition{
    grid-area: tuition;
    background-color: #d4455e;
}
div#tuition img{
    float: left;
    width: 30%;
}

div#charity{
    grid-area: charity;
    background-color: #1591d1;
}

div#blueyellowdeco{
    grid-area: deco;
}

div#stock{
    grid-area: stock;
    background-color: #1591d1;
}
div#well{
    grid-area: well;
    background-color: #f8faf9;
}

div#well img {
    float: left;
    height: 50%;
    width: auto;
    transform:translateX(-1vw);
    clip-path: polygon(3.8% 0, 100% 0, 100% 100%, 3.8% 100%);
}

div#match{
    grid-area: match;
    background-color: #d4455e;
}
div#peer{
    grid-area: peer;
    background-color: #f8faf9;
}
div#peer img{
    width: 70%; 
    margin-left: 14%;
    margin-right: auto;
    margin-bottom: -80px;
}

footer {
    grid-area: footer;
    display: grid;
    background-color: #d8dcf3;
    width: 100vw;
    grid-template-areas: 
    "about community customerService services careers"
    "social social social social social"
    "terms terms terms terms terms";

}

footer p{
    float: right;
    font-family: 'Gabarito';
}
footer div#about{
    grid-area: about;
}
footer div#community{
    grid-area: community;
}
footer div#customerService{
    grid-area: customerService;
}
footer div#services{
    grid-area: services;
}
footer div#careers{
    grid-area: careers;
}
footer div#footerlinks{
    grid-area: social;
}

footer div#terms{
    grid-area: terms;
}

section#main2{
    grid-area: main2;
}

section {
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 780px){


    main{
        display: grid;
        grid-template-areas:
        "intro"
        "main" 
        "main2" 
        "footer";
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr;
        width: 70%;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    div#intro{
        grid-area: intro;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 11fr 3fr;
        height: 35vw;
    }

    div#introbox{
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: auto;
        aspect-ratio: auto;
    }

    div#introtext{
        grid-column: 1/3;
        grid-row: ;
    }

    div#main{
        display: grid;
        grid-template-areas:
        "paid    paid    cash"
        "any     air     air"
        "any     charity flexy"
        "tuition charity flexy"
        "well    well    flexy"
        "stock   peer    match";
        grid-template-columns: 40% 20% 30%;
        grid-template-rows: repeat(6, 1fr);
        gap: 1vw;
        max-width: 80vw;
        height: auto;
    }

    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
        "about"
        "community"
        "customerService"
        "services"
        "careers"
        "social"
        "terms";
    }
}