html, body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{ background-color: #F7F7FF; }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:  #141B41;
    z-index: 1000000;
    width: 100vw;
}

div.navButton{ padding: 5px; }

a:link{ color: #1591d1;  text-decoration: none; }

a:visited{ color: #8585FF; }

a:focus{ color: #33adff; }

a:hover{
    background-color: #80bfff;
    padding: 10px;
    border-radius: 5px;
    size: 100rem;
}

a:active{ color:#00264d; }

nav a, nav h1{ justify-self: center; }

h1 {
    background: url(../media/logo.svg) no-repeat;
    background-size: contain;
    height: 2vw;
    width: 2vw;
    text-indent:-9999px;
}

h2 {
    font-family: 'Gabarito';
    font-weight: 400;
    font-size:3vw ;
    margin: 25px;
    color: black;
}

h2.whiteTxt{
    font-size: 3.5vw;
}

h3{
    font-family: 'Gabarito';
    margin-left: 125px;
    margin-right: 125px;
}

h4{
    font-family: 'Gabarito';
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: -1vw;
    margin-left: 2.5vw;
}

p, ul {
    font-family: 'Comfortaa';
    font-size:1.2vw;
}

.whiteTxt{ color: #F7F7FF; }

main {
    display: grid;
    grid-template-areas:
    "intro"
    "main" 
    "main2" 
    "footer";
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    width: 70%;
    margin-left: 15vw;
    margin-right: 15vw;
    overflow-y: hidden;
}

div#intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr 10fr 25fr;
    grid-template-rows: 4fr 6fr 1fr 1fr;
    height: 34.5vw;
    overflow: hidden;
}

img#introimg, div#introbox, div#introtext{ grid-row: 1/2; }

img#introimg{
    grid-column: 1/4;
    grid-row: 1/3;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
}

div#introbox{
    display: inline block;
    grid-column: 2;
    grid-row: 2/ span1;
    background-color: #141B41;
    opacity: .8;
    border-radius: 5px;
    aspect-ratio: 1/1;
    width: 100%;
}

div#introtext{
    grid-column: 2;
    grid-row: 2/span1;
    z-index: 100;
}

div#infotext{  
    grid-column: 3;
    grid-row: 3;
}

#introimg{
    width: 100%;    
}

p#introinfo{
    height: 10vw;
    width: 20vw;
    float: right;
}

div#mainContent {
    grid-area: main;
    display: grid;
    grid-template-areas:
    "paid   paid  paid  cash  cash    cash    air     air"
    "any    any   flexy flexy flexy   charity charity charity"
    "any    any   flexy flexy flexy   tuition tuition tuition"
    "peer   stock stock stock stock   tuition tuition tuition"
    "peer   stock stock stock stock   tuition tuition tuition"
    "peer   stock stock stock stock   well    well    well"
    "peer   match match match match   well    well    well";
    grid-template-columns: 10fr 4fr 5fr 1fr 3fr 4fr 8fr 6fr;
    grid-template-rows: 9fr 7fr 3fr 2fr 1fr 3fr 4fr;
    gap: 1vw;
    width: 70vw;
    height: 51vw;
    overflow-y: hidden;
}

.relativePos{ position: relative; }
.absolutePos { position: absolute; }

div#mainContent div, img, h4{ border: 1px solid black;}

div#paid{
    grid-area: paid;
    background-color: #f8faf9;
}

div#paid img{
    width: 10vw;
    float: left;
}

div#cash{
    grid-area: cash;
    background-color: #1591d1;
}

div#air{
    grid-area: air;
    background-color: #f8faf9;
}

div#air div.text{
    position:absolute;
    left: 100px;
    top:0px;   
}

div#air img{
    width: 40%;
    float: right;
}

div#any{
    grid-area: any;
    background-color: #d4455e;
}

div#any img{
    width: 70%;
}

div#flexy{
    grid-area: flexy;
    background-color: #3ebcf6;
}

ul{
    list-style-type: none;
}

div#tuition{
    grid-area: tuition;
    background-color: #d4455e;
}
div#tuition img{
    float: left;
    width: 30%;
}

div#charity{
    grid-area: charity;
    background-color: #1591d1;
}

div#stock{
    grid-area: stock;
    background-color: #1591d1;
}
div#well{
    grid-area: well;
    background-color: #f8faf9;
}

div#well img {
    float: left;
    height: 50%;
    width: auto;
}

div#match{
    grid-area: match;
    background-color: #d4455e;
}

div#peer{
    grid-area: peer;
    background-color: #f8faf9;
}

section#main2
{
    display: grid;
    grid-area: main2;
    text-align: left;
    margin-top: 50px;
    grid-template-areas: 
    "title"
    "about"
    "generous"
    "featured"
    "testimonyContainer"
    "careers";
    overflow-y:hidden;
    row-gap: 10vw;
    width: 70vw;
}
section#main2 h2{
    grid-area: title;
    text-align: center;
}

div#about{
    display: flex;
    grid-area: about;
    flex-flow: row wrap;
}

div#about div.text{
    width: 50%;
}
div#about img{
    width: auto;
}

div#generous{
    display: flex;
    grid-area: generous;
    flex-flow:row wrap;
}

div#generous div.text{
    grid-column: 2;
}
div#generous img{
    grid-column: 1;
}

div#featured{
    display: flex;
    grid-area: featured;
    flex-flow: row wrap;
    justify-content: center;
}

div#featured h3{
    width: 100%;
    text-align: center;
}
div#testimonyContainer{
    display: grid;
    grid-area:testimonyContainer;
    justify-content: center;
}
div#careers{
    display: grid;
    grid-area: careers;
    grid-template-columns: 1fr 1fr;
}

footer {
    grid-area: footer;
    display: grid;
    background-color: #d8dcf3;
    width: 100vw;
    grid-template-areas: 
    "aboutCompany community customerService services footerLinks"
    "line line line line line "
    "terms terms terms terms terms";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1px 5vw;
    overflow-y: hidden;
}

footer p{
    float: right;
    font-family: 'Gabarito';
}
footer div#about{
    grid-area: aboutCompany;
}
footer div#community{
    grid-area: community;
}
footer div#customerService{
    grid-area: customerService;
}
footer div#services{
    grid-area: services;
}
footer div#footerLinks{
    grid-area: footerLinks;
}
footer hr{
    grid-area:line;
    width: 100%;
    color: gray;
}

footer a:hover{
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    size: 0;
    text-decoration: underline;
}

footer div#terms{
    grid-area: terms;
}

div#terms{
    transform: translate(-520px);
}

@media screen and (max-width: 780px){
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: sticky;
        top: 0;
        background-color:  #141B41;
        z-index: 1000000;
        width: 100vw;
    }

    main{
        display: grid;
        grid-template-areas:
        "intro"
        "main" 
        "main2" 
        "footer";
        grid-template-rows: repeat(4, auto);
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        row-gap: 10vw;
    }

    div#intro{
        margin-top:10vw;
        grid-area: intro;
        display: grid;
        grid-template-rows: 45vw 15vw 1fr;
        grid-template-columns: 1fr;
        height: 70vw;
    }

    div#intro img{
        clip-path: none;
        grid-row: 1;
        grid-column: 1;
    }

    div#introbox, div#introtext, div#infotext{
        grid-row: 1/3;
        grid-column: 1;
    }

    div#introbox{
        grid-row: 2/span1;
        grid-column: 1;
        width: 100%;
        height: auto;
        aspect-ratio: auto;
        opacity: 1;
        border-radius: 0;
    }

    div#introtext h2{
        font-size: 7vw;
    }

    div#introtext, div#infotext{
        grid-row: 2;
    }

    div#infotext{
        grid-row: 3;
    }

    div#infotext p{
        color: white;
        margin-left: 25px;
        margin-top: -5px;
        font-size: 3vw;
    }

    .text p{
        font-size: 5vw;
    }

    h4{
        font-size: 7vw;
    }

    div#mainContent{
        display: grid;
        grid-template-areas:
        "paid"
        "cash" 
        "air"
        "any"
        "flexy" 
        "charity"
        "well"
        "stock" 
        "tuition"
        "peer"
        "match";
        grid-template-columns: 100%;
        grid-template-rows: repeat(11, 1fr);
        row-gap: 3vw;
        width: inherit;
        height: auto;
        overflow: hidden;
    }
    div#paid{
        width: 100%;
    }

    div#air div.text{
        top: 0;
        left: 0;
    }

    section#main2{
        display: grid;
        grid-area: main2;
        margin-top: 50px;
        grid-template-areas: 
        "title"
        "about"
        "generous"
        "featured"
        "testimonyContainer"
        "careers";
        grid-template-columns: 1fr;
        row-gap: 10vw;
        width: inherit;
        overflow: hidden;
    }
    section#main2 h2{
        grid-area: title;
        text-align: center;
        font-size: 9vw;
    }
    
    h3{
        font-size: 7vw;
    }

    div#about{
        grid-area: about;
    }

    div#about div.text{
        flex-grow: 1;
        margin-left: 5px;
    }

    div#about img{
        width: 100%;
    }

    div#generous{
        display: flex;
        grid-area: generous;
        justify-content: space-between;
        flex-direction: column;
    }
    
    div#generous div.text{
        grid-column: 2;
    }
    div#generous img{
        grid-column: 1;
    }
    
    div#featured{
        grid-area: featured;
        justify-content: center;
    }

    div#testimonyContainer{
        display: grid;
        grid-area:testimonyContainer;
        justify-content: center;
    }

    div#testimonyContainer img{
        width: 100px;
    }
    
    div#careers{
        display: grid;
        grid-area: careers;
        grid-template-columns: 1fr 1fr;
    }



    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas: 
        "about"
        "community"
        "customerService"
        "services"
        "careers"
        "social"
        "terms";
    }
}