body{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
div#mainContent{
    display: flex;
    flex-flow: column nowrap;
    width: 25vw;
    padding-left: 1vw;
}

div.item{
    margin-top: 1vw;
}

div#display{
    display: flex;
    flex-flow: row wrap;
    width: 65vw;
    padding-right: 10vw;
}

div.result {
    border: 1px solid black;
    margin-left: 1vw;
    margin-top: 1vw;
    padding: 10px;
}