html, body{
    overflow:hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #cc0011;
    background: 
    radial-gradient(circle at 50vw 50vh, black 100px, transparent 1px),
    radial-gradient(circle at 50vw 50vh, #cc0011 200px, transparent 1px),
    radial-gradient(circle at 50vw 50vh, black 300px, transparent 1px),
    radial-gradient(circle at 50vw 50vh, #cc0011 400px, transparent 1px),
    radial-gradient(circle at 50vw 50vh, black 500px, transparent 1px),
    radial-gradient(circle at 50vw 50vh, #cc0011 600px, transparent 1px),
    radial-gradient(circle at 50vw 50vh, black 700px, transparent 1px),
	#cc0011;
}

header{
    text-align: center;
}
h1{
    color: white;
    font-family: 'Lilita One', sans-serif;
    font-size: 4vw;
    margin: 0px 0 0 30px;
}

main{
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: 9vw 9vw 10vw 11vh 10vw;
    width: 100vw;
    height: 80vh;
}

p.quote, p.name, button, img, div#textBack, div#nameBack{
    grid-row: 1;
    grid-column: 1;
}

div#textBack, p#quote{
    grid-column: 2/ span 3;
    grid-row: 4;
}

p#quote{
    color: white;
    opacity: 1;
    z-index: 1;
    font-family: 'Arsenal', sans-serif;
    text-align: center;
    font-size: 1.3vw;
}

div#textBack{
    background-color: black;
    opacity: .8;
    z-index: 0;
    margin-top: 1px;
}

img{
    grid-row: 1/span 3;
    grid-column: 2/span 3;
    width: 100%;
    z-index: -1;
}

button{
    border-radius: 5px;
    background-color: white;
    border: 2px solid #f44336;
    transition: background-color .5s;
    grid-row: 5;
    grid-column: 3;
    cursor: pointer;
    box-shadow: 0 9px #999;
    font-size: 2vw;
    font-family: 'Arsenal', 'Times New Roman', Times, serif;
}

button:hover{
    background-color: #ccc;
}

button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer{
    background-color: black;
    height: 20vh;
    grid-row: 5;
}
footer div#text{
    color: white;
    text-align: center; 
    margin-top: 20px;
    padding: 5px;
}

#me{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#cr{
    padding-top: 0px;
    margin-top: 0px;
}

@media screen and (max-width:780px){
    main{
        display: grid;
        grid-template-columns: repeat(3, 33vw);
        grid-template-rows: 9vh 9vh 15.7vh 11vh 10vh;
        width: 100vw;
        height: 80vh;
    }

    img{
        grid-column: 1/span 3;

    }

    button{
        grid-row: 5;
        grid-column: 2;
    }

    div#textBack, p#quote{
        grid-column: 1/ span 3;
        font-size: 3vw;
    }

    div#textBack{
        opacity: .9;
    }

    #me{
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    #cr{
        padding-top: 0px;
        margin-top: 0px;
    }   
}